@import "../../../App.module.scss";

.faq {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-image: url("images/PawnIconBG.png");
  background-repeat: no-repeat;
  background-size: 30% 80%;
  background-position: 75% 50%;

  &__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 10rem;
    padding: 2rem;
    gap: 2rem;
    background-color: $vcolor9;
    box-shadow: 0.5rem 0.75rem 0.5rem 0.5rem #111;
    border-top-right-radius: $small_br;
    border-bottom-right-radius: $small_br;
    transition: width 0.5s;
    cursor: pointer;

    &:not(.expand) {
      &::after {
        content: "";
        position: absolute;
        right: 1rem;
        border-top: solid 2rem #0000;
        border-bottom: solid 2rem #0000;
        border-left: solid 2rem $vcolor0;
        opacity: 0;
        transition: opacity 0.5s;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    .question {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 28rem;
      height: 100%;
      font-size: 2rem;
      overflow: hidden;
    }

    .camera {
      position: relative;
      width: 0;
      height: 0;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      transition: all 0.5s;
      background: radial-gradient(
        circle at 50% 50%,
        rgba($vcolor9, 1),
        rgba($vcolor8, 1),
        rgba($vcolor7, 1),
        rgba($vcolor6, 1),
        rgba($vcolor5, 1),
        rgba($vcolor4, 1),
        rgba($vcolor3, 1),
        rgba($vcolor2, 1),
        rgba($vcolor1, 1),
        rgba($vcolor0, 1),
        #0000,
        #0000
      );

      .string {
        .p-left {
          position: absolute;
          left: 50%;
          opacity: 0;
        }

        .p-right {
          position: absolute;
          right: 50%;
          opacity: 0;
        }
      }
    }
  }

  .bloc-style-1 {
    width: 35rem;
    background-color: $vcolor9;
  }

  .bloc-style-2 {
    width: 40rem;
    background-color: $vcolor8;
  }

  .bloc-style-3 {
    width: 45rem;
    background-color: $vcolor7;
  }

  .bloc-style-4 {
    width: 50rem;
    background-color: $vcolor6;
  }

  .expand {
    width: 80%;

    .camera {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem;

      .string {
        position: absolute;
        z-index: 99;
        height: 0.5rem;
        pointer-events: none;

        @mixin p() {
          width: 0.5rem;
          height: 0.5rem;
          background-color: $vcolor0;
          border-radius: 100%;
          opacity: 1;
          animation: open-dot 0.5s 0.5s forwards;
        }

        .p-left {
          @include p;
          left: 0;
          transition: left 0.5s 0.5s, opacity 0s 0.5s;
        }

        .p-right {
          @include p;
          right: 0;
          transition: right 0.5s 0.5s, opacity 0s 0.5s;
        }

        @keyframes open-dot {
          from {
            width: 0.5rem;
            height: 0.5rem;
          }
          to {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }

  &__holo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    height: 60%;
    pointer-events: none;

    &__content {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 0;
      background-color: rgba(#000, 0.7);
      border-bottom-left-radius: $medium_br;
      border-bottom-right-radius: $medium_br;
      transition: all 0.5s;
    }

    .expanded-content {
      height: 100%;
      pointer-events: all;
      border: solid 1rem $vcolor1;
    }
  }
}
