@import "../../../App.module.scss";

.learnSec {
  position: relative;
  width: 100vw;

  .learn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    column-gap: 6rem;
    row-gap: 2rem;
    padding: 16rem;

    .hidden {
      opacity: 0.1;
      cursor: default;
    }

    &__block {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      position: relative;
      border-radius: 2rem;
      gap: 2rem;
      cursor: pointer;
      transition: all 0.5s;
      // aspect-ratio: 3 / 1;
      grid-column: 8 span;

      &::after {
        content: "";
        display: none;
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        height: 30%;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        transition: all 0.5s;
      }

      &:hover {
        background-color: rgba($vcolor0, 0.1);
        box-shadow: 0 0 0 0.1rem $vcolor3;
      }

      &:hover::after {
        display: block;
        background-image: linear-gradient(
          rgba($vcolor0, 0.1),
          rgba($vcolor0, 0.08),
          rgba($vcolor0, 0.06),
          rgba($vcolor0, 0.04),
          rgba($vcolor0, 0.02)
        );
        box-shadow: 0 -0.1rem 0 0.05rem $vcolor3;
        filter: blur(5px);
      }

      div {
        padding-left: 1rem;
        border-left: solid 0.1rem $vcolor9;

        h2 {
          font-size: 2.6rem;
        }
        span {
          font-size: 1.2rem;
          text-align: justify;
        }
      }

      .icon {
        flex-shrink: 0;
        margin: 1rem;
        padding: 1rem;
        background-color: rgba($vcolor0, 0.7);
        border-radius: 100%;
        width: 8rem;
        height: 8rem;

        svg {
          width: 100%;
          height: 100%;
          .pawn-top {
            transition: all 0.3s;
          }
          .pawn-mid-top {
            transition: all 0.3s;
          }
          .pawn-mid-bot {
            transition: all 0.3s;
          }
          .pawn-bot {
            transition: all 0.3s;
          }
          .table-wp-1 {
            transition: all 0.3s;
          }
          .table-wp-2 {
            transition: all 0.3s;
            transition-delay: 0.1s;
          }
          .table-bp-1 {
            transition: all 0.3s;
            transition-delay: 0.2s;
          }
          .table-bp-2 {
            transition: all 0.3s;
            transition-delay: 0.3s;
          }
          .rank-1 {
            opacity: 0;
            transition: all 0.3s;
          }
          .rank-2 {
            opacity: 0;
            transition: all 0.3s;
            transition-delay: 0.15s;
          }
          .rank-3 {
            opacity: 0;
            transition: all 0.3s;
            transition-delay: 0.3s;
          }
          .chart-circle {
            animation: chart-back 0.3s forwards;
            animation-timing-function: linear;
          }
        }
      }
    }

    .active > .icon {
      .pawn-top {
        transform: translateY(-10%);
      }
      .pawn-mid-top {
        transform: translateY(-5%);
      }
      .pawn-mid-bot {
        transform: translateY(5%);
      }
      .pawn-bot {
        transform: translateY(10%);
      }
      .table-wp-1 {
        transform: translateY(-10%);
      }
      .table-wp-2 {
        transform: translateY(-10%);
      }
      .table-bp-1 {
        transform: translateY(-10%);
      }
      .table-bp-2 {
        transform: translateY(-10%);
      }
      .rank-1 {
        opacity: 1;
      }
      .rank-2 {
        opacity: 1;
      }
      .rank-3 {
        opacity: 1;
      }
      .chart-circle {
        animation: chart 0.3s forwards;
        animation-timing-function: linear;
      }

      @keyframes chart {
        0% {
          transform: translate(0%, 0%);
        }
        25% {
          transform: translate(10%, -20%);
        }
        50% {
          transform: translate(20%, -40%);
        }
        75% {
          transform: translate(30%, -20%);
        }
        100% {
          transform: translate(40%, -60%);
        }
      }

      @keyframes chart-back {
        100% {
          transform: translate(0%, 0%);
        }
        0% {
          transform: translate(40%, -60%);
        }
      }
    }
  }

  .expand {
    display: none;
    position: absolute;
    top: calc(50% + 3rem);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    z-index: 2;
    background-color: rgba($vcolor0, 0.1);
    box-shadow: 0 0 0 0.1rem $vcolor3;
    border-radius: 2rem;
    overflow: hidden;
    padding: 3rem;
    animation: expand 0.5s;

    h2 {
      font-size: 2.6rem;
      border-bottom: solid 0.3rem $vcolor9;
    }
    span {
      font-size: 1.2rem;
      text-align: center;
    }
  }

  .expand-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    cursor: pointer;
  }

  @keyframes expand {
    from {
      width: 0%;
      height: 0%;
    }
    to {
      width: 50%;
      height: 50%;
    }
  }
}
