@import "../../../App.module.scss";

.hero {
  width: 100%;
  height: 100vh;

  &__content {
    width: 100%;
    height: 90%;
    background-color: #000;
    border-bottom-left-radius: 20rem;
    background-image: url("images/hero-background3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: -1rem 1rem 0 $vcolor9;

    &__intro {
      color: $gcolor0;
      display: block;
      position: absolute;
      top: 25%;
      left: 50%;
      width: 40%;
      max-width: 140rem;
      padding: 0 6.4rem;
      // text-align: justify;

      h1 {
        font-size: 5.2rem;
        padding: 0.8rem 1.6rem;
        text-align: center;
        margin-bottom: 2rem;

        border: 0.5rem solid #0000;
        background: conic-gradient(
              from 90deg at top 0.5rem left 0.5rem,
              #0000 90deg,
              #fff 0
            )
            0 0 / 3rem 3rem border-box no-repeat,
          conic-gradient(
              from -90deg at bottom 0.5rem right 0.5rem,
              #0000 90deg,
              #fff 0
            )
            100% 100% / 3rem 3rem border-box no-repeat;
      }

      span {
        display: block;
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      div {
        display: flex;
        gap: 2.4rem;
        width: 100%;
        justify-content: center;
        button {
          @include def-button(0.8rem * 2 + 1.6rem);
          padding: 0.8rem 1.6rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        a {
          text-decoration: none;
          border-radius: 0.8rem * 2 + 1.6rem;
        }
      }
    }
  }
}
