@import "../../../App.module.scss";

.hero {
  width: 100%;
  height: 100vh;

  &__content {
    width: 100%;
    height: 90%;

    border-bottom-left-radius: 20rem;
    background: linear-gradient(#0000 0%, #000 100%),
      url("images/hero-background3.jpg");
    background-color: #000;

    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: -1rem 1rem 0 $vcolor9;

    &__intro {
      background-color: rgba($gcolor9, 0.3);
      position: absolute;
      padding: 2rem;
      left: 30%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 38%;
      border-radius: 2rem;
      text-shadow: 0.1rem 0.1rem #000;

      h1 {
        font-size: 3.2rem;
        padding: 0.8rem 1.6rem;
        text-align: center;
        margin-bottom: 2rem;

        border: 0.5rem solid #0000;
        background: conic-gradient(
              from 90deg at top 0.5rem left 0.5rem,
              #0000 90deg,
              #fff 0
            )
            0 0 / 3rem 3rem border-box no-repeat,
          conic-gradient(
              from -90deg at bottom 0.5rem right 0.5rem,
              #0000 90deg,
              #fff 0
            )
            100% 100% / 3rem 3rem border-box no-repeat;
      }

      span {
        display: block;
        font-size: 1.6rem;
      }
    }

    &__extra {
      background-color: $vcolor7;
      color: $gcolor0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      top: 30%;
      right: 0;
      width: 40%;
      height: 80vh;
      padding: 6.4rem;
      border-bottom-left-radius: 6rem;
      border-top-left-radius: 6rem;
      border: solid 1rem $vcolor9;
      border-right: none;
    }
  }
}
