@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Lucida Sans;
  scroll-behavior: smooth;
}

body {
  background-color: $gcolor9;
  color: $gcolor0;
  overflow-y: overlay;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background-color: #0000;
    width: 1rem;
    height: 1rem;
    &-thumb {
      border-radius: 1rem;
      background-image: linear-gradient(
        to top,
        $vcolor4 20%,
        $vcolor5 40%,
        $vcolor6 60%,
        $vcolor7 80%,
        $vcolor8 100%
      );
    }
  }
}
