// violet colors
$vcolor0: #f3f0ff;
$vcolor1: #e5dbff;
$vcolor2: #d0bfff;
$vcolor3: #b197fc;
$vcolor4: #9775fa;
$vcolor5: #845ef7;
$vcolor6: #7950f2;
$vcolor7: #7048e8;
$vcolor8: #6741d9;
$vcolor9: #5f3dc4;

// grey colors
$gcolor0: #f8f9fa;
$gcolor1: #f1f3f5;
$gcolor2: #e9ecef;
$gcolor3: #dee2e6;
$gcolor4: #ced4da;
$gcolor5: #adb5bd;
$gcolor6: #868e96;
$gcolor7: #495057;
$gcolor8: #343a40;
$gcolor9: #212529;

// fonts

// border radius
$small_br: 2rem;
$medium_br: 4rem;
$large_br: 16rem;

@mixin shadow {
  position: absolute;
  z-index: -1;
  background-color: #111;
  pointer-events: none;
  filter: blur(0.5rem);
}
